@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
/*### Neutral*/
--main-bg: hsl(217, 54%, 11%);
--card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
body{
    font-family: "Outfit",sans-serif;
    font-size: 18px;
    background-color:hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:calc(100vh - 1px);
    margin: 3rem;
    color: hsl(0, 0%, 100% ,65%);
    padding: 2rem;
}

body::-webkit-scrollbar{
    display: none;
}
ul{
    list-style-type: none;
}

.container{
    background-color:var(--card-bg);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}
.container .equi{
    position: relative;
}
.container .equi div{
    top: 0;
    position: absolute;
    background-color: hsl(178, 100%, 50%,59%) ;
    cursor: pointer;
    width: 100%;
    height: calc(100% - 5px);
    z-index: 999;
    opacity: 0;
    transition:opacity 0.2s ease-in-out;
}
.container .equi div img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container .equi div:hover{
    opacity: 1;
    cursor: pointer;
}
h2{
    color:var(--White);
    margin: 1rem 0.7rem 0.7rem 0rem;
}
h2:hover{
    color: var(--Cyan);
    cursor: pointer;
}
.container p{
    font-size: 25px;
}
.container ul{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 2rem 0rem;
 border-bottom: 1.5px solid var(--line);
}
.container ul li{
    display: flex;
    align-items: center;
}
.container ul li img{
    margin-right: 0.4rem;
}

.container ul li:first-child{
    color: var(--Cyan);
}
.container .av{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1.7rem;
}
.container .av img{
    width: 3.9rem;
    border: 1.5px solid var(--White);
    border-radius: 50%;
    margin-right: 2rem;
}
.container .av p span {
    color: var(--White);
    font-weight: 700;
}
.container .av p span:hover{
 color: var(--Cyan);
 cursor: pointer;
}
.attribution { 
    font-size: 20px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
  @media only screen and (max-width: 760px){

    .container{
        width: 470px;
        margin-top: 7rem;
    }
  }

  @media only screen and (max-width: 400px){

    .container{
        width: 10rem;
        margin-top: 7rem;
    }
  }